* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}
.parallax {
  background-image: url(./images/parallax1.png);
  height: 300px;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.profile-card {
  background-color: white;
  max-width: 370px;
  width: 100%;
  border-radius: 5px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%; /*برای اینکه بکگراندی که به این div میدیم هم مثل عکس پروفایل گرد بشه در واقع یه حاشیه است.*/
  background-color: #4070fe;
  padding: 3px;
  margin-bottom: 10px;
}
.image .profile-img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #fff;
}
.profile-card .text-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-card:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}
.follow-btn {
  margin-bottom: 15px;
  background-color: rgb(243, 89, 33);
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 80%;
  color: white;
  font-size: 1em;
  font-weight: bold;
}
.profile-card .social-links {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 1px;
}
.social-links .link {
  text-decoration: none;
  /* background-color: #4070f4; */
  color: #555;
  margin: 0 8px;
  /* height: 34px; */
  width: 34px;
  /* border-radius: 50%; */
  /* display: flex; */
  /* align-items: center; */
}
.social-links a:hover {
  color: #007bff;
}
.social-links svg {
  /* width: 40px; تغییر عرض آیکون */
  width: 40px;
  /* height: 40px; تغییر ارتفاع آیکون */
  height: 40px;
}
.profile-card .buttons {
  margin-top: 15px;
  width: 100%;
}
